# name: Build and Push Docker Image

# on:
#   push:
#     branches:
#       - main

# jobs:
#   build:
#     runs-on: ubuntu-latest
#     steps:
#       - uses: actions/checkout@v3

#       # Chuyển vào folder chứa code
#       - name: Go to project folder
#         run: cd gs-securing-web/initial

#       # Build Docker image
#       - name: Build Docker image
#         run: |
#           cd gs-securing-web/initial
#           docker build -t ghcr.io/${{ github.repository }}:${{ github.sha }} .

#       # Push image
#       - name: Push image
#         run: |
#           cd gs-securing-web/initial
#           docker push ghcr.io/${{ github.repository }}:${{ github.sha }}

#       # Update k8s manifests
#       - name: Update manifest
#         run: |
#           cd gs-securing-web/initial
#           sed -i "s|{{TAG}}|${{ github.sha }}|g" k8s/deployment.yaml
#           git config user.name github-actions
#           git config user.email github-actions@github.com
#           git add k8s/deployment.yaml
#           git commit -m "update image tag"
#           git push
