apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: securing-web
  namespace: argocd
spec:
  project: default
  source:
    repoURL: 'https://github.com/hant0505/dn-week8-app.git'
    targetRevision: main
    path: initial/securing-web-week8
    helm:
      valueFiles:
        - values.yaml
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true